<!DOCTYPE html>

<html>

<head>
    <title>Library management(Node.js express mongDB CRUD)</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
</head>

<body>
    <div style="font-family:monospace;height:100vh;background-image:linear-gradient(white,orange);">
    <div style="background-color: black;width:100%;height:30px; color:#fff;padding-top:5px;
    text-align:center";><a>Library Management System</a></div>
    <div>
        <div style="padding-top: 30px;align-items:center;margin:40px;">
            {{{body}}}
        </div>
    </div>
    </div>
</body>
</html>